[submodule "DBFeederMvn"]
	path = DBFeederMvn
	url = https://github.com/DImuthuUpe/DBFeederMvn
[submodule "SinminREST"]
	path = SinminREST
	url = https://github.com/DImuthuUpe/SinminREST
[submodule "CrawlerControllerWeb"]
	path = CrawlerControllerWeb
	url = https://github.com/DImuthuUpe/CrawlerControllerWeb
[submodule "corpus.sinhala.crawler"]
	path = corpus.sinhala.crawler
	url = https://github.com/madurangasiriwardena/corpus.sinhala.crawler
[submodule "corpus.sinhala.crawler.controller"]
	path = corpus.sinhala.crawler.controller
	url = https://github.com/madurangasiriwardena/corpus.sinhala.crawler.controller
[submodule "corpus.sinhala.tools"]
	path = corpus.sinhala.tools
	url = https://github.com/madurangasiriwardena/corpus.sinhala.tools
[submodule "ocr-full-stop-predictor"]
	path = ocr-full-stop-predictor
	url = https://github.com/lasandun/ocr-full-stop-predictor
[submodule "corpus.sinhala.wildcard.search"]
	path = corpus.sinhala.wildcard.search
	url = https://github.com/lasandun/corpus.sinhala.wildcard.search
[submodule "sinmin-web"]
	path = sinmin-web
	url = https://github.com/madurangasiriwardena/sinmin-web
